<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyblog.mappers.BlogMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.happyblog.entity.po.Blog">
        <!--博客ID-->
        <result column="blog_id" property="blogId"/>
        <!--父ID-->
        <result column="p_blog_id" property="pBlogId"/>
        <!--标题-->
        <result column="title" property="title"/>
        <!--分类ID-->
        <result column="category_id" property="categoryId"/>
        <!--分类名称-->
        <result column="category_name" property="categoryName"/>
        <!--封面-->
        <result column="cover" property="cover"/>
        <!--摘要-->
        <result column="summary" property="summary"/>
        <!--内容-->
        <result column="content" property="content"/>
        <!--markdown编辑内容-->
        <result column="markdown_content" property="markdownContent"/>
        <!--0:富文本 1:markdown编辑器-->
        <result column="editor_type" property="editorType"/>
        <!--标签-->
        <result column="tag" property="tag"/>
        <!--0:原创 1:转载-->
        <result column="type" property="type"/>
        <!--转载地址-->
        <result column="reprint_url" property="reprintUrl"/>
        <!--用户ID-->
        <result column="user_id" property="userId"/>
        <!--昵称-->
        <result column="nick_name" property="nickName"/>
        <!--0:不允许评论 1:允许评论-->
        <result column="allow_comment" property="allowComment"/>
        <!--0:草稿 1:已发布-->
        <result column="status" property="status"/>
        <!--0:删除 1:正常-->
        <result column="del_type" property="delType"/>
        <!--创建时间-->
        <result column="create_time" property="createTime"/>
        <!--最后更新时间-->
        <result column="last_update_time" property="lastUpdateTime"/>
        <!--0:博客  1:专题-->
        <result column="blog_type" property="blogType"/>
        <!--排序号-->
        <result column="sort" property="sort"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        blog_id
        ,p_blog_id,title,category_id,category_name,cover,summary,editor_type,tag,type,reprint_url,user_id,nick_name,allow_comment,status,del_type,create_time,last_update_time,blog_type,sort
    </sql>

    <sql id="base_condition_filed">
        <if test="query.blogId != null and query.blogId!=''">
            and blog_id = #{query.blogId}
        </if>
        <if test="query.pBlogId != null and query.pBlogId!=''">
            and p_blog_id = #{query.pBlogId}
        </if>
        <if test="query.title != null and query.title!=''">
            and title = #{query.title}
        </if>
        <if test="query.categoryId != null">
            and category_id = #{query.categoryId}
        </if>
        <if test="query.categoryName != null and query.categoryName!=''">
            and category_name = #{query.categoryName}
        </if>
        <if test="query.cover != null and query.cover!=''">
            and cover = #{query.cover}
        </if>
        <if test="query.summary != null and query.summary!=''">
            and summary = #{query.summary}
        </if>
        <if test="query.content != null and query.content!=''">
            and content = #{query.content}
        </if>
        <if test="query.markdownContent != null and query.markdownContent!=''">
            and markdown_content = #{query.markdownContent}
        </if>
        <if test="query.editorType != null">
            and editor_type = #{query.editorType}
        </if>
        <if test="query.tag != null and query.tag!=''">
            and tag = #{query.tag}
        </if>
        <if test="query.type != null">
            and type = #{query.type}
        </if>
        <if test="query.reprintUrl != null and query.reprintUrl!=''">
            and reprint_url = #{query.reprintUrl}
        </if>
        <if test="query.userId != null">
            and user_id = #{query.userId}
        </if>
        <if test="query.nickName != null and query.nickName!=''">
            and nick_name = #{query.nickName}
        </if>
        <if test="query.allowComment != null">
            and allow_comment = #{query.allowComment}
        </if>
        <if test="query.status != null">
            and status = #{query.status}
        </if>
        <if test="query.delType != null">
            and del_type = #{query.delType}
        </if>
        <if test="query.createTime != null and query.createTime!=''">
            <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.lastUpdateTime != null and query.lastUpdateTime!=''">
            <![CDATA[ and  last_update_time=str_to_date(#{query.lastUpdateTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.blogType != null">
            and blog_type = #{query.blogType}
        </if>
        <if test="query.sort != null">
            and sort = #{query.sort}
        </if>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.blogIdFuzzy!= null  and query.blogIdFuzzy!=''">
                and blog_id like concat('%', #{query.blogIdFuzzy}, '%')
            </if>
            <if test="query.pBlogIdFuzzy!= null  and query.pBlogIdFuzzy!=''">
                and p_blog_id like concat('%', #{query.pBlogIdFuzzy}, '%')
            </if>
            <if test="query.titleFuzzy!= null  and query.titleFuzzy!=''">
                and title like concat('%', #{query.titleFuzzy}, '%')
            </if>
            <if test="query.categoryNameFuzzy!= null  and query.categoryNameFuzzy!=''">
                and category_name like concat('%', #{query.categoryNameFuzzy}, '%')
            </if>
            <if test="query.coverFuzzy!= null  and query.coverFuzzy!=''">
                and cover like concat('%', #{query.coverFuzzy}, '%')
            </if>
            <if test="query.summaryFuzzy!= null  and query.summaryFuzzy!=''">
                and summary like concat('%', #{query.summaryFuzzy}, '%')
            </if>
            <if test="query.contentFuzzy!= null  and query.contentFuzzy!=''">
                and content like concat('%', #{query.contentFuzzy}, '%')
            </if>
            <if test="query.markdownContentFuzzy!= null  and query.markdownContentFuzzy!=''">
                and markdown_content like concat('%', #{query.markdownContentFuzzy}, '%')
            </if>
            <if test="query.tagFuzzy!= null  and query.tagFuzzy!=''">
                and tag like concat('%', #{query.tagFuzzy}, '%')
            </if>
            <if test="query.reprintUrlFuzzy!= null  and query.reprintUrlFuzzy!=''">
                and reprint_url like concat('%', #{query.reprintUrlFuzzy}, '%')
            </if>
            <if test="query.nickNameFuzzy!= null  and query.nickNameFuzzy!=''">
                and nick_name like concat('%', #{query.nickNameFuzzy}, '%')
            </if>
            <if test="query.createTimeStart!= null and query.createTimeStart!=''">
                <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
                <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.lastUpdateTimeStart!= null and query.lastUpdateTimeStart!=''">
                <![CDATA[ and  last_update_time>=str_to_date(#{query.lastUpdateTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.lastUpdateTimeEnd!= null and query.lastUpdateTimeEnd!=''">
                <![CDATA[ and  last_update_time< date_sub(str_to_date(#{query.lastUpdateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        <if test="query.queryContent!=null and query.queryContent">
            ,content,markdown_content
        </if>
        FROM blog
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM blog
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.happyblog.entity.po.Blog">
        INSERT INTO blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.blogId != null">
                blog_id,
            </if>
            <if test="bean.pBlogId != null">
                p_blog_id,
            </if>
            <if test="bean.title != null">
                title,
            </if>
            <if test="bean.categoryId != null">
                category_id,
            </if>
            <if test="bean.categoryName != null">
                category_name,
            </if>
            <if test="bean.cover != null">
                cover,
            </if>
            <if test="bean.summary != null">
                summary,
            </if>
            <if test="bean.content != null">
                content,
            </if>
            <if test="bean.markdownContent != null">
                markdown_content,
            </if>
            <if test="bean.editorType != null">
                editor_type,
            </if>
            <if test="bean.tag != null">
                tag,
            </if>
            <if test="bean.type != null">
                type,
            </if>
            <if test="bean.reprintUrl != null">
                reprint_url,
            </if>
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.nickName != null">
                nick_name,
            </if>
            <if test="bean.allowComment != null">
                allow_comment,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.delType != null">
                del_type,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="bean.blogType != null">
                blog_type,
            </if>
            <if test="bean.sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.blogId!=null">
                #{bean.blogId},
            </if>
            <if test="bean.pBlogId!=null">
                #{bean.pBlogId},
            </if>
            <if test="bean.title!=null">
                #{bean.title},
            </if>
            <if test="bean.categoryId!=null">
                #{bean.categoryId},
            </if>
            <if test="bean.categoryName!=null">
                #{bean.categoryName},
            </if>
            <if test="bean.cover!=null">
                #{bean.cover},
            </if>
            <if test="bean.summary!=null">
                #{bean.summary},
            </if>
            <if test="bean.content!=null">
                #{bean.content},
            </if>
            <if test="bean.markdownContent!=null">
                #{bean.markdownContent},
            </if>
            <if test="bean.editorType!=null">
                #{bean.editorType},
            </if>
            <if test="bean.tag!=null">
                #{bean.tag},
            </if>
            <if test="bean.type!=null">
                #{bean.type},
            </if>
            <if test="bean.reprintUrl!=null">
                #{bean.reprintUrl},
            </if>
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.nickName!=null">
                #{bean.nickName},
            </if>
            <if test="bean.allowComment!=null">
                #{bean.allowComment},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.delType!=null">
                #{bean.delType},
            </if>
            <if test="bean.createTime!=null">
                #{bean.createTime},
            </if>
            <if test="bean.lastUpdateTime!=null">
                #{bean.lastUpdateTime},
            </if>
            <if test="bean.blogType!=null">
                #{bean.blogType},
            </if>
            <if test="bean.sort!=null">
                #{bean.sort},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.happyblog.entity.po.Blog">
        INSERT INTO blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.blogId != null">
                blog_id,
            </if>
            <if test="bean.pBlogId != null">
                p_blog_id,
            </if>
            <if test="bean.title != null">
                title,
            </if>
            <if test="bean.categoryId != null">
                category_id,
            </if>
            <if test="bean.categoryName != null">
                category_name,
            </if>
            <if test="bean.cover != null">
                cover,
            </if>
            <if test="bean.summary != null">
                summary,
            </if>
            <if test="bean.content != null">
                content,
            </if>
            <if test="bean.markdownContent != null">
                markdown_content,
            </if>
            <if test="bean.editorType != null">
                editor_type,
            </if>
            <if test="bean.tag != null">
                tag,
            </if>
            <if test="bean.type != null">
                type,
            </if>
            <if test="bean.reprintUrl != null">
                reprint_url,
            </if>
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.nickName != null">
                nick_name,
            </if>
            <if test="bean.allowComment != null">
                allow_comment,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.delType != null">
                del_type,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="bean.blogType != null">
                blog_type,
            </if>
            <if test="bean.sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.blogId!=null">
                #{bean.blogId},
            </if>
            <if test="bean.pBlogId!=null">
                #{bean.pBlogId},
            </if>
            <if test="bean.title!=null">
                #{bean.title},
            </if>
            <if test="bean.categoryId!=null">
                #{bean.categoryId},
            </if>
            <if test="bean.categoryName!=null">
                #{bean.categoryName},
            </if>
            <if test="bean.cover!=null">
                #{bean.cover},
            </if>
            <if test="bean.summary!=null">
                #{bean.summary},
            </if>
            <if test="bean.content!=null">
                #{bean.content},
            </if>
            <if test="bean.markdownContent!=null">
                #{bean.markdownContent},
            </if>
            <if test="bean.editorType!=null">
                #{bean.editorType},
            </if>
            <if test="bean.tag!=null">
                #{bean.tag},
            </if>
            <if test="bean.type!=null">
                #{bean.type},
            </if>
            <if test="bean.reprintUrl!=null">
                #{bean.reprintUrl},
            </if>
            <if test="bean.userId!=null">
                #{bean.userId},
            </if>
            <if test="bean.nickName!=null">
                #{bean.nickName},
            </if>
            <if test="bean.allowComment!=null">
                #{bean.allowComment},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.delType!=null">
                #{bean.delType},
            </if>
            <if test="bean.createTime!=null">
                #{bean.createTime},
            </if>
            <if test="bean.lastUpdateTime!=null">
                #{bean.lastUpdateTime},
            </if>
            <if test="bean.blogType!=null">
                #{bean.blogType},
            </if>
            <if test="bean.sort!=null">
                #{bean.sort},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.blogId!=null">
                blog_id = VALUES(blog_id),
            </if>
            <if test="bean.pBlogId!=null">
                p_blog_id = VALUES(p_blog_id),
            </if>
            <if test="bean.title!=null">
                title = VALUES(title),
            </if>
            <if test="bean.categoryId!=null">
                category_id = VALUES(category_id),
            </if>
            <if test="bean.categoryName!=null">
                category_name = VALUES(category_name),
            </if>
            <if test="bean.cover!=null">
                cover = VALUES(cover),
            </if>
            <if test="bean.summary!=null">
                summary = VALUES(summary),
            </if>
            <if test="bean.content!=null">
                content = VALUES(content),
            </if>
            <if test="bean.markdownContent!=null">
                markdown_content = VALUES(markdown_content),
            </if>
            <if test="bean.editorType!=null">
                editor_type = VALUES(editor_type),
            </if>
            <if test="bean.tag!=null">
                tag = VALUES(tag),
            </if>
            <if test="bean.type!=null">
                type = VALUES(type),
            </if>
            <if test="bean.reprintUrl!=null">
                reprint_url = VALUES(reprint_url),
            </if>
            <if test="bean.userId!=null">
                user_id = VALUES(user_id),
            </if>
            <if test="bean.nickName!=null">
                nick_name = VALUES(nick_name),
            </if>
            <if test="bean.allowComment!=null">
                allow_comment = VALUES(allow_comment),
            </if>
            <if test="bean.status!=null">
                status = VALUES(status),
            </if>
            <if test="bean.delType!=null">
                del_type = VALUES(del_type),
            </if>
            <if test="bean.createTime!=null">
                create_time = VALUES(create_time),
            </if>
            <if test="bean.lastUpdateTime!=null">
                last_update_time = VALUES(last_update_time),
            </if>
            <if test="bean.blogType!=null">
                blog_type = VALUES(blog_type),
            </if>
            <if test="bean.sort!=null">
                sort = VALUES(sort),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.happyblog.entity.po.Blog">
        INSERT INTO
        blog(blog_id,p_blog_id,title,category_id,category_name,cover,summary,content,markdown_content,editor_type,tag,type,reprint_url,user_id,nick_name,allow_comment,status,del_type,create_time,last_update_time,blog_type,sort)values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.blogId},#{item.pBlogId},#{item.title},#{item.categoryId},#{item.categoryName},#{item.cover},#{item.summary},#{item.content},#{item.markdownContent},#{item.editorType},#{item.tag},#{item.type},#{item.reprintUrl},#{item.userId},#{item.nickName},#{item.allowComment},#{item.status},#{item.delType},#{item.createTime},#{item.lastUpdateTime},#{item.blogType},#{item.sort}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.happyblog.entity.po.Blog">
        INSERT INTO
        blog(blog_id,p_blog_id,title,category_id,category_name,cover,summary,content,markdown_content,editor_type,tag,type,reprint_url,user_id,nick_name,allow_comment,status,del_type,create_time,last_update_time,blog_type,sort)values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.blogId},#{item.pBlogId},#{item.title},#{item.categoryId},#{item.categoryName},#{item.cover},#{item.summary},#{item.content},#{item.markdownContent},#{item.editorType},#{item.tag},#{item.type},#{item.reprintUrl},#{item.userId},#{item.nickName},#{item.allowComment},#{item.status},#{item.delType},#{item.createTime},#{item.lastUpdateTime},#{item.blogType},#{item.sort}
            )
        </foreach>
        on DUPLICATE key update
        blog_id = VALUES(blog_id),
        p_blog_id = VALUES(p_blog_id),
        title = VALUES(title),
        category_id = VALUES(category_id),
        category_name = VALUES(category_name),
        cover = VALUES(cover),
        summary = VALUES(summary),
        content = VALUES(content),
        markdown_content = VALUES(markdown_content),
        editor_type = VALUES(editor_type),
        tag = VALUES(tag),
        type = VALUES(type),
        reprint_url = VALUES(reprint_url),
        user_id = VALUES(user_id),
        nick_name = VALUES(nick_name),
        allow_comment = VALUES(allow_comment),
        status = VALUES(status),
        del_type = VALUES(del_type),
        create_time = VALUES(create_time),
        last_update_time = VALUES(last_update_time),
        blog_type = VALUES(blog_type),
        sort = VALUES(sort)
    </insert>

    <!-- 根据BlogId修改-->
    <update id="updateByBlogId" parameterType="com.happyblog.entity.po.Blog">
        UPDATE blog
        <set>
            <if test="bean.pBlogId != null">
                p_blog_id = #{bean.pBlogId},
            </if>
            <if test="bean.title != null">
                title = #{bean.title},
            </if>
            <if test="bean.categoryId != null">
                category_id = #{bean.categoryId},
            </if>
            <if test="bean.categoryName != null">
                category_name = #{bean.categoryName},
            </if>
            <if test="bean.cover != null">
                cover = #{bean.cover},
            </if>
            <if test="bean.summary != null">
                summary = #{bean.summary},
            </if>
            <if test="bean.content != null">
                content = #{bean.content},
            </if>
            <if test="bean.markdownContent != null">
                markdown_content = #{bean.markdownContent},
            </if>
            <if test="bean.editorType != null">
                editor_type = #{bean.editorType},
            </if>
            <if test="bean.tag != null">
                tag = #{bean.tag},
            </if>
            <if test="bean.type != null">
                type = #{bean.type},
            </if>
            <if test="bean.reprintUrl != null">
                reprint_url = #{bean.reprintUrl},
            </if>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.nickName != null">
                nick_name = #{bean.nickName},
            </if>
            <if test="bean.allowComment != null">
                allow_comment = #{bean.allowComment},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.delType != null">
                del_type = #{bean.delType},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.lastUpdateTime != null">
                last_update_time = #{bean.lastUpdateTime},
            </if>
            <if test="bean.blogType != null">
                blog_type = #{bean.blogType},
            </if>
            <if test="bean.sort != null">
                sort = #{bean.sort},
            </if>
        </set>
        where blog_id=#{blogId}
    </update>

    <!-- 根据BlogId删除-->
    <delete id="deleteByBlogId">
        delete
        from blog
        where blog_id = #{blogId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByBlogId" resultMap="base_result_map">
        select<include refid="base_column_list"/>,content,markdown_content from blog where blog_id=#{blogId}
    </select>

    <update id="updateCategoryNameByCategoryId">
        update blog
        set category_name = #{categoryName}
        where category_id = #{categoryId}
    </update>

    <update id="cleanBlogCategory">
        update blog
        set category_name = null,
            category_id=null
        where category_id = #{categoryId}
    </update>

    <update id="updateNickNameByUserId">
        update blog
        set nick_name = #{nickName}
        where user_id = #{userId}
    </update>
</mapper>